<form "bt" method="get">
<input type="text" name="rest1" value="truffles" hidden>
<select name="feature">
    <option value="overall" selected="selected">Overall</option>
    <option value="food">Food</option>
    <option value="service">Service</option>
    <option value="ambiance">Ambiance</option>
    <option value="value">Value</option>
</select>
<br>Restaurant: 
<select name="rest2">
    <option value="empire" selected="selected">Empire Restaurant</option>
    <option value="meghana">Meghana Foods</option>
    <option value="hole">A Hole Lotta Love</option>
    <option value="sultans">Sultans of Spice</option>
    <option value="gilly">Gilly's Restrobar</option>
    <option value="berry">Berry'd Alive</option>
</select>
<br>Group by date: 
<select name="grpby">
    <option value="0" selected="selected">No group</option>
    <option value="1">One day</option>
    <option value="7">One week</option>
    <option value="30">One month</option>
</select>
<br>Source: 
<input type="checkbox" value="">Zomato
<input type="checkbox" value="" disabled>Google Maps
<input type="checkbox" value="" disabled>Twitter
    
<input type="submit" value="Submit">
</form>